project:
  type: website
  render:
    - index.qmd
  output-dir: out
  preview:
    port: 4200

title: Klima Protocol
number-sections: true
cap-location: bottom
lang: en-GB

website:
  twitter-card: true
  open-graph: true
  site-url: https://whitepaper.klimaprotocol.com

format:
  html:
    css: styles.css
    html-math-method:
      method: katex
      url: https://cdn.jsdelivr.net/npm/katex@0.16.25/dist/
    toc: true
    include-in-header:
      - text: |
          <link rel="icon" type="image/png" sizes="96x96" href="./brand/favicon-96x96.png">
          <link rel="shortcut icon" href="./brand/favicon.ico">
          <link rel="apple-touch-icon" sizes="180x180" href="./brand/apple-touch-icon.png">
  pdf:
    pdf-engine: pdflatex
    papersize: a4
    classoption: [DIV=15]
    include-in-header:
      - text: |
          % Limit figure width to 0.9 line width
          \makeatletter
          \renewcommand*\pandocbounded[1]{%
            \sbox\pandoc@box{#1}%
            \Gscale@div\@tempa{\textheight}{\dimexpr\ht\pandoc@box+\dp\pandoc@box\relax}%
            \Gscale@div\@tempb{\dimexpr0.9\linewidth\relax}{\wd\pandoc@box}%
            \ifdim\@tempb\p@<\@tempa\p@\let\@tempa\@tempb\fi%
            \ifdim\@tempa\p@<\p@\scalebox{\@tempa}{\usebox\pandoc@box}%
            \else\usebox{\pandoc@box}%
            \fi%
          }
          \makeatother
  gfm:
    preview-mode: raw

format-links:
  - pdf
  - format: gfm
    text: Markdown (for LLMs)
    icon: file-text
